*.rbc
capybara-*.html
.rspec
/syncedFiles/the3dshop/log
/syncedFiles/the3dshop/tmp
/syncedFiles/the3dshop/db/*.sqlite3
/syncedFiles/the3dshop/db/*.sqlite3-journal
/syncedFiles/the3dshop/public/system
/syncedFiles/the3dshop/public/assets
/syncedFiles/the3dshop/coverage/
/syncedFiles/the3dshop/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/secrets.yml

## Environment normalisation:
/syncedFiles/the3dshop/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/syncedFiles/the3dshop/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv
