<div id="footer">
	<footer class="footer-distributed">
		<div class="footer-left">
			<h3>The3DShop - <span>Dortalomu</span></h3>

			<p class="footer-links">
				<%= link_to 'Home', items_path %>
				·
				<%= link_to 'Forums', "https://disqus.com/home/forums/dortalomu/" %>
			</p>

			<p class="footer-company-name">The3DShop &copy; 2015</p>
		</div>

		<div class="footer-center">

			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>13 Somewhere street</span> Qc, Canada</p>
			</div>

			<div>
				<i class="fa fa-phone"></i>
				<p>+1 514 555 2525</p>
			</div>

			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:support@company.com">support@the3dshop.com</a></p>
			</div>

		</div>

		<div class="footer-right">

			<p class="footer-company-about">
				<span>About The3DShop</span>
				The3DShop was made by 4 guys in order to be able to see and buy all different kind of 3D models. This C2C website is perfect if you want to share your models and make some money with your creativity !
			</p>

			<div class="footer-icons">

			<a href="https://www.facebook.com/the3dshop.ca"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/the3dShopCa"><i class="fa fa-twitter"></i></a>
		    <a href="#"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>
</div>