<h4> Hi <%= @user.firstname + " " + @user.lastname %>,</h4>

<br/>

<h2><a href="#">Here's your models</a> you have just bought !</h2>

<h2>Your order cost <%= number_to_currency @amount %></h2>

<br/>

<h4>Thank you for choosing the3Dshop.ca !</h4>

<br/>

<p>Sincerely, The3DShop</p>