<%
meta title: "Order completed - The3DShop",
     description: "You've just placed an order and an email will be sent to you."
%>

<div class="container">
	<h2>Thank you for shopping at The3DShop !</h2> 
	<h2>You paid <strong><%= number_to_currency @amount %></strong>!</h2>
	<br>
	<h3>An email has been sent to <strong><%= @user.email %></strong> with your 3d models files</h3>
</div>