
/***
    Le fichier style.css, sur lockowl.ca, est minified !
    Celui-ci est une version plus belle pour que vous soyez capable
    de bien lire le code.
***/

/************************************************************************************
General CSS
*************************************************************************************/

h1, h2, h3, h4, h5 ,h6 {
    color: #626262;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

body {
  padding-top: 50px;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4, h5, h6 { font-weight: bolder }

.property_details h2 {
    font-weight: bolder !important;
    font-size: 1.3em !important;
    color: black !important;
}

.property_details h3 {
    font-size: 1em !important;
    font-weight: normal;
}

/************************************************************************************
Logo
*************************************************************************************/

.mainLogo {
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 3px;
}

/************************************************************************************
Home page main section
*************************************************************************************/

.listings{
    padding: 30px 0;
}

.listings .properties_list .picture{
    display: block;
    width: 30.90%;
    height: auto;
    position: relative;
    float: left;
    margin: 0 3.63% 3.63% 0;
}

.listings .properties_list .picture img.property_img{
    width: 100%;
    height: auto!important;
    vertical-align: top;
}

/* Put the price at the top left corner */
.listings .properties_list .picture .price{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px 20px;
    background: #ffffff;
    color: #514d4d;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 16px;
}

.listings .properties_list .picture:nth-child(3n+0){
    margin-right: 0;
}

/************************************************************************************
Input style
*************************************************************************************/

.field {
    width: 500px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.actions {
    width: 500px;
    margin: auto;
    margin-bottom: 15px;
}

.container {
    text-align: center;
}

.text_center {
    text-align: center;
}

.label.label-warning.warning-size {
    font-size: 25px;
}

.item_details {
    text-align: left;
    margin: 65px 0px 0px 0px;
}

.item_price {
    font-size: 24px;
}

.item_details label {
    font-size: 28px;
}

.btn.btn-primary.btn_submit {
    float: right;
    font-size: 26px;
}

.form-control.item_description {
    height: 300px;
}

.collapse.navbar-collapse.text {
    position: relative;
    font-size: 23px;
    top: 15px;
}

.mainContent {
    margin-top: 80px;
}

.text-right.total_price {
    margin: 35px 0px 35px 0px;
}

.text-right.total_price span {
    color: green;
}

/************************************************************************************
Property details
*************************************************************************************/

.listings .picture .property_details{
    width: 87.64705882352941%;
    padding: 2.941176470588235% 5.882352941176471% 4.117647058823529% 5.882352941176471%;
}

.listings .picture .property_details h1{
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
}

.listings .picture .property_details h1 a{
    text-decoration: none;
    color: #666464;
}

.listings .picture .property_details h2{
    color: #9d9d9d;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 26px;
    font-weight: normal;
}

/************************************************************************************
Google Maps
*************************************************************************************/

.googlemaps {
    width: 800px;
    height: 400px;
    margin-bottom: 20px;
}

/************************************************************************************
Contact Us
*************************************************************************************/

.contact_us {
    margin-bottom: 50px;
}

.contact_us input {
    width: 300px;
}

.contact_us textarea {
    width: 650px;
}

.contact_us button {
    margin-left: 500px;
    width: 150px;
}

/************************************************************************************
Information about house
*************************************************************************************/

#houseImage {
    margin-right: 25px;
    margin-bottom: 25px;
    float: left;
}

.contact_information label {
    margin-bottom: 10px;
    display: block;
}

/************************************************************************************
Media queries
*************************************************************************************/

@media screen and (max-width: 1000px) {

    .listings .properties_list .picture {
        width: 46%;
    }

    .listings .properties_list .picture:nth-child(3n+0){
        margin-right: 3.63%;
    }

    .googlemaps{
        width: 550px;
        height: 300px;
    }

    .contact_us textarea {
        width: 550px;
    }

    .contact_us button {
        margin-left: 400px;
    }

    .btn.btn-primary.btn_add_to_cart {
        position: absolute;
        display: block;
    }

    #houseImage {
        margin-top: 70px;
    }
}

@media screen and (max-width: 600px) {

    .listings .properties_list .picture {
        width: 95%;
    }

    .googlemaps{
        width: 400px;
        height: 300px;
    }

    .contact_us textarea {
        width: 450px;
    }

    .contact_us button {
        margin-left: 300px;
    }

    #houseImage {
        width: 415px;
    }
}

@media screen and (max-width: 425px) {

    .listings .properties_list .picture {
        width: 95%;
    }

    .googlemaps {
        width: 300px;
        height: 150px;
    }

    .contact_us textarea {
        width: 300px;
    }

    .contact_us button {
        margin-left: 150px;
    }

    #houseImage {
        width: 340px;
    }
}

@media screen and (max-width: 340px) {

    .listings .properties_list .picture {
        width: 95%;
    }

    .googlemaps {
        width: 270px;
        height: 150px;
    }

    .contact_us textarea {
        width: 300px;
    }

    .contact_us button {
        margin-left: 150px;
    }

    #houseImage {
        width: 270px;
    }
}