
/***
    Le fichier style.css, sur lockowl.ca, est minified !
    Celui-ci est une version plus belle pour que vous soyez capable
    de bien lire le code.
***/

/************************************************************************************
General CSS
*************************************************************************************/

h1, h2, h3, h4, h5 ,h6 {
    color: #626262;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

body {
  padding-top: 50px;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4, h5, h6 { font-weight: bolder }

.property_details h2 {
    font-weight: bolder !important;
    font-size: 1.3em !important;
    color: black !important;
}

.property_details h3 {
    font-size: 1em !important;
    font-weight: normal;
}

/************************************************************************************
Logo
*************************************************************************************/

.mainLogo {
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 3px;
}

/************************************************************************************
Home page main section
*************************************************************************************/

.listings{
    padding: 30px 0;
}

.listings .properties_list .picture{
    display: block;
    width: 30.90%;
    height: auto;
    position: relative;
    float: left;
    margin: 0 3.63% 3.63% 0;
}

.listings .properties_list .picture img.property_img{
    width: 100%;
    height: auto!important;
    vertical-align: top;
}

/* Put the price at the top left corner */
.listings .properties_list .picture .price{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px 20px;
    background: #ffffff;
    color: #514d4d;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 16px;
}

.listings .properties_list .picture:nth-child(3n+0){
    margin-right: 0;
}

/************************************************************************************
Input style
*************************************************************************************/

.field {
    width: 500px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.actions {
    width: 500px;
    margin: auto;
    margin-bottom: 15px;
}

.container {
    text-align: center;
}

.footer {
    margin-top: 40px;
}

.text_center {
    text-align: center;
}

.label.label-warning.warning-size {
    font-size: 25px;
}

.item_details {
    text-align: left;
    margin: 65px 0px 0px 0px;
}

.item_price {
    font-size: 24px;
}

.item_details label {
    font-size: 28px;
}

.btn.btn-primary.btn_submit {
    
    font-size: 26px;
}

.form-control.item_description {
    height: 300px;
}

.collapse.navbar-collapse.text {
    font-size: 22px;
    margin-top: 20px;
}

.mainLogoText {
    color: grey;
    font-size: 21px;
}

.mainLogoText:hover {
    color: white;
    text-decoration: none;
}

.mainContent {
    margin-top: 80px;
}

.text-right.total_price {
    margin: 35px 0px 35px 0px;
}

.text-right.total_price span {
    color: green;
}

.table.table-hover.checkout {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: left;
}

.container hr {
    margin-bottom: 50px;
}

.checkout_div {
    margin-bottom: 120px;
}

.amount {
    font-size: 22px;
    margin-bottom: 32px;
}

/*.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
    margin-left: 20px;
}

.navbar-right {
    float: right!important;
}*/

/************************************************************************************
Information about house
*************************************************************************************/

#itemImage {
    margin-right: 25px;
    margin-bottom: 25px;
    float: left;
}

.contact_information label {
    margin-bottom: 10px;
    display: block;
}

/************************************************************************************
Media queries
*************************************************************************************/

@media screen and (max-width: 800px) {

    #itemImage {
        width: 420px;
    }
}

@media screen and (max-width: 680px) {

    #itemImage {
        width: 450px;
    }

    .field {
        width: 350px;
    }

    .actions {
        width: 350px;
    }

    .item_text {
        color: red;
        clear: both;
    }
}

@media screen and (max-width: 520px) {

    #itemImage {
        width: 370px;
    }
}

@media screen and (max-width: 425px) {

    #itemImage {
        width: 320px;
    }

    .field {
        width: 300px;
    }

    .actions {
        width: 300px;
    }
}

@media screen and (max-width: 360px) {

    #itemImage {
        width: 230px;
    }

    .field {
        width: 230px;
    }

    .actions {
        width: 230px;
    }
}