<% content_for :title do %>
	<title>Dortalomu - The3DShop</title>
<% end %>

<%= render 'items/search_box' %>

<div class="container">
		<section class="listings">
			<div class="properties_list">
			  <%= render 'items/results' %> 
			</div>
		</section>
</div>