<%
meta title: "Dortalomu - The3DShop",
     description: "Dortalomu - The3DShop Main page. Contains all existing 3D models"
%>
 
<%= render 'items/search_box' %>

<div class="container">
  <section class="listings">
    <div class="properties_list">
      <%= render 'items/results' %> 
    </div>
  </section>
</div>

<!-- Include the Sidr JS -->
<%= javascript_include_tag 'jquery.sidr.min' %>

<script>
$(document).ready(function() {
  $('#simple-menu').sidr();
  $('#simple-menu-close').sidr();
});
</script>