<% content_for :title do %>
  <title>Your cart - The3DShop</title>
<% end %>

<% content_for :description do %>
  <meta name="description" content="This is your 3DShop shopping cart.">
<% end %>

<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>